
body{
    background-color: #EAF6F6;
}
hr{
    background-color: rgba(255, 255, 255, 0);
    border-style  : dotted none none;
    height: 0px;
    border-width: 5px;
    width: 5%;
    color:rgb(5, 5, 5);
    size: 200px;
}
h1{
    font-style: oblique;
    color: #66BFBF;

}
h3{
    color: #cb0e0e;

}
h2{
    color: #0e73cb;

}

